body {
    height: 100vh;
    display: grid;
    place-content: center;
}

body * {
    font-family: 'Rubik', sans-serif;
}

#rules {
    margin-bottom: 1.5em;
}

.red {
    color: red;
}

.green {
    color: green;
}

.bold {
    font-weight: 700;
}

.button {
    border: 2px solid rgba(0, 128, 0, 0.493);
    font-size: 1.2rem;
    padding: 0.4em;
    cursor: pointer;
}

#timer-and-messages {
    display: flex;
    align-items: center;
}

#timer {
    width: 4em;
    font-size: 3rem;
    margin: 0;
}

#game-messages {
    font-size: 2em;
}

#game-info {
    margin-bottom: 0.4rem;
}

#game-info th, #game-info td {
    padding-inline: 0.3rem;
}

#tile-rack {
    width: 90vw;
    aspect-ratio: 7/1;
    box-sizing: border-box;
    border: 2px solid rgb(22, 14, 2);
    background-color: #cfbf89;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.tile {
    box-sizing: border-box;
    border: 1px solid #221d0c;
    box-shadow: inset -0.1em -0.1em 0 0 #221d0c38;
    background: #ccae4b;
    width: calc(90vw / 7);
    aspect-ratio: 1/1;
    text-align: center;
    display: grid;
    place-content: center;
    font-size: 6vw;
    padding-top: 0.3em;
}

#form-wrapper {
    margin-top: 0.3rem;
}

.game-form > * {
    margin-inline: 0.3rem;
}

#seed-selection {
    border: none;
    padding: 0;
    margin-block: 0.2rem;
}

.disabled {
    color:rgb(177, 177, 177);
}

#form-wrapper {
    display: flex;
}

#word-form {
    font-size: 1.2rem;
}

#score-table {
    margin-bottom: 0.8rem;
    border-collapse: collapse;
}

#score-table td {
    padding-inline: 1rem;
}

.border-above > * {
    border-top: 1px solid rgb(0, 0, 0);
}